// 矯正
body.large_size {
    .navigation {
        input {
            flex: none;
            flex-basis: 60px;
            padding: 0.1em .3em;
            margin-left: 10px;
            margin-top: 2px;
            font-size: .0.938em;
            text-align: center;
            height: 26px;
        }
        .forget_password {
            margin-top: 3px;
            margin-bottom: .3em;
            a {
                padding: 0 .5em;
                font-size: 0.813em;
                height: 26px;
                
            }
        }
    }
    // 旅行地點分佈
    .travel_location_block {
        height: 920px;
        .map_pic {
            img {
                height: 100%;
            }
        }
    }
    // menu
    .menu {
        >ul {
            >li {
                >a {
                    padding: 0 .4em;
                    @include screen('tablet') {
                        padding: 0 .3em;
                    }
                }
                &.hasChild {
                    >a {
                        &:after {
                            right: -9px;
                        }
                    }
                }
            }
        }
    }
    // 旅券瀏覽
    .year_browsing div {
        padding: 10px 0px 10px 35px;
        &:first-child {
            padding: 10px 15px;
        }
    }
    .year_browsing2 {
        @media(max-width: 850px) {
            padding-right: 0;
        }
        div {
            padding: 10px 0px 10px 25px;
            &:first-child {
                padding: 10px 15px;
            }
            @media(max-width:850px) {
                &.period01, &.period02, &.period03 {
                    flex-basis: 33%;
                    width: 33%;
                }
                &:after {
                    border: 15px solid #ccc;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    right: -25px;
                }
                &.period01 {
                    &:after {
                        border-left-color: #bc8e57;
                    }
                }
                &.period02 {
                    &:after {
                        border-left-color: #bf575e;
                    }
                }
                &.period03 {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    // 旅卷查詢
    .passport_search .search_block .form_grid .form_title.add_boolean {
        width: 240px;
        flex: 0 0 240px;
        flex-basis: 240px;
    }
    // 旅卷瀏覽
    .timeline .content ul.hall {
        li {
            margin: 0 0.25% 5px;
            width: 19.5%;
            @media(max-width: 1130px) {
                margin: 0 0.25% 5px;
                width: 24.5%;
            }
            @media(max-width: 900px) {
                margin: 0 0.66% 5px;
                width: 32%;
            }
            @media(max-width: 700px) {
                margin: 0 1% 5px;
                width: 48%;
            }
            @media(max-width: 500px) {
                margin: 0 0 5px;
                width: 100%;
            }
        }
    }
    // 專題旅券
    .topic_passport_block {
        height: 950px;
        .topic_slider {
            .topic_content {
                .textcontent {
                    height: 155px;
                }
            }
        }
    }
    // 內頁會員註冊
    .member_block .step_block ul li:before {
        right: -56px;
        border-width: 28px;
    }
}
// 小字
body.small_size {
    // 旅券瀏覽
    .year_browsing2 {
        div {
            &:after {
                border-width: 34px;
                right: -68px;
                @include screen('mobile') {
                    border-width: 26px;
                    right: -52px;
                }
                @include screen('xs_mobile') {
                    border-width: 15px;
                    right: -25px;
                }
            }
        }
    }
    // 專題旅券
    .topic_passport_block {
        .topic_slider {
            .topic_content {
                .textcontent {
                    height: 150px;
                }
            }
        }
    }
    // 旅行地點分佈
    .travel_location_block .location_slider .location_blcok .leaderboard .content .group a span {
        padding: 11px 5px;
    }
}