// 勘誤
.errata_block {
    display: flex;
    align-items: stretch;
    @include screen('tablet') {
        display: block;
    }
    .errata_leftblock {
        flex: auto;
        flex-basis: 55%;
        max-width: 55%;
        margin-right: 1%;
        background-color: #eee;
        border-radius: 25px;
        @include screen('tablet') {
            flex-basis: 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 10px
        }
        .errata_table {
            padding: 25px;
            table {
                th, td {
                    border-bottom: #474646 1px solid;
                    padding: 8px;
                }
            }
        }
    }
    .errata_rightblock {
        flex: auto;
        flex-basis: clac(100% - 55% -1%);
        max-width: clac(100% - 55% -1%);
        background-color: #eee;
        border-radius: 25px;
        .errata_form_block {
            padding: 25px;
            .form_content {
                .btn {
                    padding: 0.5em 1em;
                    margin-left: 0;
                }
                .wordtext {
                    padding: 6px 0 0;
                    display: block;
                }
            }
            // 按鈕
            .btn_grp {
                button {
                    margin-right: 15px;
                    @media(max-width: 400px) {
                        margin-right: 0;
                    }
                }
                .btn-reset, .btn-submit {
                    transition: .5s;
                    width: 130px;
                    &:before {
                        content: '';
                        width: 30px;
                        height: 4px;
                        right: -15px;
                    }
                    &:hover, &:focus {
                        width: 150px;
                        &:before {
                            right: -25px;
                        }
                    }
                }
            }
        }
    }
}
// 查無結果
.no_result_block {
    text-align: center;
    position: relative;
    background-image: url('../images/no_result_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 771px;
    background-size: 80%;
    margin-top: 50px;
    @include screen('tablet') {
        min-height: 600px;
        background-size: 80%;
    }
    @include screen('mobile') {
        min-height: 550px;
        background-size: 90%;
    }
    @include screen('xs_mobile') {
        min-height: 400px;
    }
   @media(max-width:450px ) {
        min-height: 300px;
    }
     @media(max-width:380px ) {
        min-height: 250px;
    }
    .pic {
        padding: 10% 0 80px;
        img {
            width: 15%;
        }
        @include screen('mobile') {
            padding: 10% 0 50px;
            img {
                width: 20%;
            }
        }
        @include screen('xs_mobile') {
            padding: 10% 0 30px;
            img {
                width: 20%;
            }
        }
    }
    .content {
        background-color: #ebe0ce;
        padding: 30px;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        border-radius: 50px;
        font-size: 1.5em;
        line-height: 1.5em;
        @include screen('xs_mobile') {
            width: 60%;
            font-size: 1.25em;
            line-height: 1.5;
            padding:0;
            background-color: transparent;
        }
    }
}