// 勘誤
.errata_block {
    display: flex;
    align-items: stretch;
    @include screen('tablet') {
        display: block;
    }
    .errata_leftblock {
        flex: none;
        flex-basis: 54%;
        max-width: 54%;
        background-color: #eee;
        border-radius: 4px;
        @include screen('tablet') {
            flex-basis: 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 10px
        }
        .errata_table {
            padding: 25px 15px;
            table {
                th, td {
                    border-bottom: #7d7169 1px solid;
                    padding: 0px 8px;
                    font-size: 0.938em;
                    line-height:1.6em;
                }
                th {
                    text-align: right;
                    font-weight: normal;
                }
                @include screen('xs_mobile') {
                    th, td {
                        display: block;
                        border-bottom: transparent;
                        text-align: left;
                    }
                    td{
                        min-height: 25px;
                    }
                }
            }
        }
    }
    .errata_rightblock {
        flex: none;
        flex-basis: 45%;
        max-width: 45%;
        margin-left: 1%;
        background-color: #eee;
        border-radius: 4px;
        @include screen('tablet') {
            flex-basis: 100%;
            max-width: 100%;
            margin-left: 0;
        }
        .errata_form_block {
            padding: 25px 15px;
            .form_content {
                .btn {
                    padding: 0.5em 1em;
                    margin-left: 0;
                }
                .wordtext {
                    padding: 6px 0 0;
                    display: block;
                }
                .verification_code {
                    max-width: 120px;
                }
                .reflash{
                    display:inline-block;
                    padding:2px;
                    border-radius:50%;
                    background-color:#fff;
                    position:relative;
                    width:24px;
                    height: 24px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    vertical-align: middle;
                    margin-left:5px;
                    @include box-sizing;
                    img{
                        position:absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        width:14px;
                        height: 14px;
                        margin:auto;
                    }
                    &:hover{
                        background-color:#fdf3b9;
                    }
                }
                &.form_inline {
                    select {
                        width: 100%;
                    }
                }
            }
            // 按鈕
            .btn_grp {
                button {
                    margin-right: 15px;
                    @media(max-width: 400px) {
                        margin-right: 0;
                    }
                }
                .btn {
                    transition: .5s;
                    width: auto;
                    padding: 10px 20px;
                    @media(max-width: 500px) {
                        padding: 10px 0;
                        width: 100%;
                    }
                    &:before {
                        content: '';
                        width: 30px;
                        height: 4px;
                        right: -15px;
                    }
                    &:hover, &:focus {
                        width: auto;
                        padding: 10px 30px;
                        &:before {
                            right: -25px;
                        }
                    }
                }
            }
        }
    }
}
// 查無結果
.no_result_block {
    text-align: center;
    position: relative;
    background-image: url('../images/no_result_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 771px;
    background-size: 80%;
    margin-top: 50px;
    @include screen('tablet') {
        min-height: 600px;
        background-size: 80%;
    }
    @include screen('mobile') {
        min-height: 550px;
        background-size: 90%;
    }
    @include screen('xs_mobile') {
        min-height: 400px;
    }
    @media(max-width:450px) {
        min-height: 300px;
    }
    @media(max-width:380px) {
        min-height: 250px;
    }
    .pic {
        padding: 10% 0 80px;
        img {
            width: 11%;
        }
        @include screen('mobile') {
            padding: 10% 0 50px;
            img {
                width: 13%;
            }
        }
        @include screen('xs_mobile') {
            padding: 10% 0 30px;
            img {
                width: 16%;
            }
        }
    }
    .content {
        background-color: #ebe0ce;
        padding: 30px;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        border-radius: 50px;
        font-size: 1.25em;
        line-height: 1.25em;
        @include screen('mobile') {
            font-size: 1.125em;
            line-height: 1.25em;
            width: 60%;
        }
        @include screen('xs_mobile') {
            width: 60%;
            font-size: 1.125em;
            line-height: 1.5em;
            padding: 0;
            background-color: transparent;
        }
    }
}
// 會員登入
.member_block {
    .explain_block {
        background-color: #eee;
        padding: 30px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .remind {
        background-color: lighten($color-yellow, 20);
        padding: 20px 30px;
        text-align: center;
        font-size: 1.25em;
        border-radius: 4px;
        line-height: 1.5em;
    }
    .member_form_block {
        background-color: #eee;
        padding: 30px;
        border-radius: 4px;
    }
    .member_link {
        ul {
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                margin: 0 20px;
                display: inline-block;
                position: relative;
                font-size: 1.063em;
                @media(max-width: 400px) {
                    margin: 0 10px;
                }
                &:after {
                    content: '';
                    border: 7px solid $secondaryColor;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    position: absolute;
                    left: -15px;
                    top: 4px;
                }
                a {
                    display: block;
                    color: $secondaryColor;
                    &:hover {
                        color: $linkColor;
                    }
                }
            }
        }
    }
    .step_block {
        margin-bottom: 20px;
        ul {
            text-align: center;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 15px 30px 15px 45px;
                background-color: $secondaryColor;
                color: #fff;
                text-align: center;
                margin-right: 35px;
                font-size: 1.125em;
                position: relative;
                border-radius: 4px 0 0 4px;
                @include screen('mobile') {
                    display: block;
                    margin-right: 0;
                    margin-bottom: 25px;
                    border-radius: 4px;
                    padding: 15px;
                }
                &:before {
                    content: '';
                    border: 26px solid $secondaryColor;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    position: absolute;
                    right: -52px;
                    top: 0;
                    @include screen('mobile') {
                        border-left-color: transparent;
                        border-top-color: $secondaryColor;
                        right: 45%;
                        bottom: -40px;
                        top: auto;
                    }
                    @media(max-width: 440px) {
                        right: 40%;
                    }
                }
            }
        }
    }
}
// 我要提問
.ask_questions {
    font-size: 1.25em;
    .image {
        float: left;
        max-width: 500px;
        img {
            width: 100%;
        }
        @include screen('tablet') {
            max-width: 400px;
        }
        @include screen('mobile') {
            float: none;
            max-width: 380px;
            margin: 0 auto;
            text-align: center;
        }
        @media(max-width: 450px) {
            max-width: 100%;
            img {
                width: 90%;
            }
        }
    }
    .content {
        padding-top: 180px;
        overflow: hidden;
        font-size: 0.938em;
        @include screen('tablet') {
            padding-top: 150px;
        }
        @include screen('mobile') {
            padding: 0 20px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin-bottom: 8px;
            }
        }
    }
}